body {
    background-image: url('');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.url_display {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
