<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jukebox</title>

    <!-- CSS -->
    <!-- load bootstrap and our own personal stylesheet -->
    <link rel="stylesheet" href="css/frontPageStyle.css">
    <link rel='shortcut icon' type='image/x-icon' href='css/img/favicon.ico' />

</head>

<body>
       <div id="login" class="container">
         <a href="/login" class="btn btn-primary" style="color:white; 
         font-size:85px;position:fixed;
         font-weight:normal; top:35%; left:25%;">Log in with Spotify</a>
       </div>
       <img style="position:fixed; z-index:-5; height:60%; left:25%; top:20%; " src='css/img/spotify.png'</img>

</body>
</html>
