<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node Sample App</title>

    <!-- CSS -->
    <!-- load bootstrap and our own personal stylesheet -->
    <link rel="stylesheet" href="css/style.css">
     <link rel='shortcut icon' type='image/x-icon' href='css/img/favicon.ico' />

</head>
<body>

	<div class="container">
       <div id="login">
         <a href="/login" class="btn btn-primary">Log in with Spotify</a>
       </div>
     </div>

</body>
</html>
