<!DOCTYPE html>
<html>

<head>
    <title>jukebox</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--custom files-->
    <link rel="stylesheet" href="css/frontPageStyle.css">
    <link rel='shortcut icon' type='image/x-icon' href='css/img/favicon.ico' />
    <script src="js/session_page_main.js"></script>

    <!--jQuery & jQueryUI-->
    <script src="js/jquery-3.3.1.min.js"></script>
</head>

 <div id="buttonBackground"></div>

<body onload= "createTable('<%=users%>');">

 <div
 class="url_display" >
    <div style="font-size:10pt;">Your URL is:</div>
    <div style="font-size:18pt;"><%=link %></div>
 </div>


    <div class="myTabDiv" style="width:300px; position:25%;">
        <table id="userTable" style="width:300px; position:25%;">
        <tr>
            <th>Users in session</th>
        </tr>
        </table>
    </div>

    <div class="buttons">
        <div id="startButton">
        <button type="submit"> Play </button>
        </div>
    </div>


</body>
</html>
