<!DOCTYPE html>
<html>

<head>
    <title>Song Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--custom files-->
    <link rel="stylesheet" type="text/css" media="screen" href="css/frontPageStyle.css" />
    <!--<link rel="stylesheet" href="css/song_page.css">-->
    <script src="js/song_page_main.js"></script>
    
    <!--jQuery & jQueryUI--> 
    <script src="js/jquery-3.3.1.min.js"></script>
</head>


<body onload="songDetails('../css/img/big_dog.jpg','Shake it Off','Snoop Dogg','Guy')";>
    <div id="songDetails">
        <div id="contentWrapper">
            <div id="backgroundShade"></div>
            <div id="musicWrapper">
                <div id="albumPicture">
                    <img id="picture">
                </div>

                <div id="textWrapper" class="text">
                    <div id="songAlbum" class="text">Song: </div>
                    <div id="artist" class="text">Artist: </div>
                    <div id="user" class="text">User: </div>  
                </div>
            </div>
        </div>
    </div>

    <div id="playlistDiv">
        <nav>
            <ul id="playlist">
            <li>Home</li>
            <li>Home</li>
            <li>Home</li>
            </ul>
        </nav>
    </div>
    <!--<div id="playlistDiv">
        <table id="playlist">
        <tr>
            <th>Queue</th>
        </tr>
        </table>
    </div>-->



</body>
