.main{
    text-align: center;
}

body{
    font-family:"Arial", monospace;
    color:black;
    font-weight:bold;
}

#tagline{
    font-family: "Raleway", sans-serif;
}


#anchorDown{
    color: gold;
}

#container{ 
    position: fixed;
    left: 25%;
    top: 45%;
    text-align: center;
    background:white; 
    opacity:0.5;
    z-index:-3;
}



    button {
        font-size:12pt;
        background-image: url("img/coin.png");
        background-repeat: no-repeat;
        background-size:cover;
        background-position:center;
        padding: 2%;
        border: none;
        cursor: pointer;
        border-radius:100%;
        width: 140px;
        height:140px;
        margin: 5%;
        
    }
    
#frontPageButton{ 
    position: fixed;
    left: 12%;
    top: 42%;
    width: 50%;
    text-align: center;
    font-size: 18px;
}

#joinSession{
    padding: 0em;
}

#hostSession{
    padding: 0em;
}

body {
    background-image: url('img/wall.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-color:(0,0,0,0);
    background-size: cover;
    background-attachment: fixed;
}

